* {
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background: #111;
    padding: 25px;
    border-radius: 16px;
    width: 320px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.calculator h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

#display {
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    font-size: 24px;
    color: #ffffff;        
    text-align: right;
    padding: 10px;
}
#display:focus {
    outline: none;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #2a2a2a;
    color: #fff;
    transition: background 0.3s;
}

button:hover {
    background: #e50914;
}

.equal {
    grid-row: span 2;
    background: #ff416c;
}

.zero {
    grid-column: span 2;
}
